
<li *ngFor = "let currentKeg of childKegList">{{currentKeg.brand}}

  <ul>
    <li>Price per keg ${{currentKeg.price}}</li>
    <li>Price per pint: ${{currentKeg.pintPrice}}</li>
    <li>Alcohol Content {{currentKeg.alcoholContent}}%</li>
    <li [class]="profitColor(currentKeg)">Total sells: ${{currentKeg.totalSells}}</li>
    <li [class]="kegLevel(currentKeg)">pints remaining: {{currentKeg.pint}}
      <button class="btn btn-warning" (click)="sellButtonHasBeenClicked(currentKeg)">Sell</button>
      {{currentKeg.alert}}
    </li>
    <li>Profit: {{currentKeg.profit}}</li>

    <button class="btn btn-primary"(click)="editButtonHasBeenClicked(currentKeg)">Edit</button>
  </ul>
</li>
<br>
<div class="">

  <select (change)="onChange($event.target.value)">
    <option value="allKegs" selected="selected">All Beers</option>
    <option value="highAlcohol">High Alcohol</option>
    <option value="lowAlcohol">Low Alcohol</option>
  </select>
</div>
  <br>
<span *ngFor = "let currentKeg of childKegList | alcoholContent:filterByAlcoholContent">
  <p>{{currentKeg.brand}}</p>
</span>
